
 

  <div class="select-container">

    <select class="form-select  form-select-lg mb-3" aria-label=".form-select-lg example " (change)="changeClient($event)"  >
      <option *ngFor=" let client of datas.clients">
        {{client.clientName}}

      </option>
    </select>
  
  </div>


  <form [formGroup]="clientsForm" >
    <div class="form-style"  *ngIf="currentClientsInputs">

      <ng-container *ngFor="let input of currentClientsInputs">
        <div class="mb-3" >
          <label>{{ input.label }}:</label>
          <input type= {{input.type}} class="form-control" [formControlName]="input.name">
        </div>
       
      
       
      </ng-container>

      <button type="submit">Submit</button>

    </div>
    
    
  </form> -->

  <router-outlet></router-outlet>

  